# Dados do Banco de Dados
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=controle_chaves
DB_USER=root
DB_PASS=

# Configurações de E-mail (PHPMailer)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USER=seu_email@gmail.com
MAIL_PASS=sua_senha_de_app
MAIL_FROM_ADDRESS=naoresponda@pegachave.com
MAIL_FROM_NAME="PegaChave Alertas"

# Configurações de E-mail de Alerta
MAIL_FROM=alerta@pegachave.local
