# Ignorar pastas de binários locais e banco de dados local
bin/

# Arquivos de logs e temporários
*.log
tmp/
.vscode/
.idea/

# Ignorar arquivos Markdown de controle interno (exceto README)
*.md
!README.md

# Configurações sensíveis
.env
