# Ignorar pastas de binários locais e banco de dados local
bin/*
!bin/install.php
!bin/alertar_atrasos.php
!bin/mysql/
bin/mysql/*
!bin/mysql/schema.sql

# Arquivos de logs e temporários
*.log
tmp/
.vscode/
.idea/

# Ignorar arquivos Markdown de controle interno (exceto README e CHANGELOG)
*.md
!README.md
!CHANGELOG.md

# Configurações sensíveis
.env
